<ul>

    <li>Falta adicionar role de admin no User e bloquear adição de livro se o user não for admin</li>
    <li>Adicionar perfil e informações do perfil no User</li>
    <li>Adicionar tabela de estante, cada user tem uma estante, onde vai ficar registrado qnd os livros vão ser emprestados</li>
</ul>