<nav class="navbar is-transparent container is-max-desktop" data-controller="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger" data-action="click->navbar#toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu" data-navbar-target="menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Início
      </a>
      <a class="navbar-item" href="/books">
        Catálogo
      </a>
      <a class="navbar-item" href="/">
        Assinatura
      </a>
      <a class="navbar-item" href="/books/new">
        Adicionar livro
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button">
              <span>
                Entrar
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-primary">
              <span>Criar conta</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>